.kontent input {
  border: 1px solid rgb(213, 213, 213);
  border-radius: 5px;
  width: 50%;
  height: 40px;
  padding: 10px;
  background-color: rgb(232, 239, 248);
}

.kontent h6 {
  font-weight: bold;
}

.col-sm-12 .btn-danger {
}

.col-sm-12 .btn-danger a {
  text-decoration: none;
  color: white;
}

.nilaiwajar {
  display: flex;
}

.nilaiwajar h6 {
  padding-top: 10px;
}

.nilaiwajar input {
  width: 30%;
  margin-left: 16px;
}

.nilailikuidasi {
  display: flex;
}

.nilailikuidasi h6 {
  padding-top: 10px;
}

.nilailikuidasi input {
  width: 30%;
  margin-left: 10px;
}

.nilailainnya {
  display: flex;
}

.nilailainnya h6 {
  padding-top: 10px;
}

.nilailainnya input {
  width: 30%;
  margin-left: 16px;
}
